h2{
    text-align: center;
}
div{
    text-align: center;
}
body { font-family: sans-serif; background: #eee; display: flex; justify-content: center; padding-top: 50px; }
.container { background: white; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px #ccc; text-align: center; width: 350px; }
button { width: 100%; padding: 10px; margin: 10px 0; cursor: pointer; }